.ion-color-primary-variation-1 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-primary-variation-2 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}


.ion-color-palette-1 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-palette-1-variation-1 {
  --ion-color-base: #E77A79;
  --ion-color-base-rgb: 231,122,121;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #cb6b6a;
  --ion-color-tint: #e98786;
}

.ion-color-palette-1-variation-2 {
  --ion-color-base: #e98886;
  --ion-color-base-rgb: 233,136,134;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #cd7876;
  --ion-color-tint: #eb9492;
}

.ion-color-palette-2 {
  --ion-color-base: #D05D81;
  --ion-color-base-rgb: 208,93,129;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #b75272;
  --ion-color-tint: #d56d8e;
}

.ion-color-palette-2-variation-1 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-palette-2-variation-2 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-palette-3 {
  --ion-color-base: #B15893;
  --ion-color-base-rgb: 177,88,147;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #9c4d81;
  --ion-color-tint: #b9699e;
}

.ion-color-palette-3-variation-1 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-palette-3-variation-2 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-palette-4 {
  --ion-color-base: #87589C;
  --ion-color-base-rgb: 135,88,156;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #774d89;
  --ion-color-tint: #9369a6;
}

.ion-color-palette-4-variation-1 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}

.ion-color-palette-4-variation-2 {
  --ion-color-base: #E46B6B;
  --ion-color-base-rgb: 228,107,107;
  --ion-color-contrast: #FFFBF2;
  --ion-color-contrast-rgb: 255,251,242;
  --ion-color-shade: #c95e5e;
  --ion-color-tint: #e77a7a;
}
