ion-item.input {
  border-bottom: #333 solid 1px;
  margin: 0 16px;
  padding-left: 2px;
  font-size: 14px;

  ion-label.section-title {
    padding-top: 12px;
    font-size: 12px;
  }

  ion-buttons {
    margin-top: 26px;
  }
}
